/* You can add global styles to this file, and also import other style files */
body {
    /* font-family: 'Architects Daughter', cursive; */
    /* font-family: 'Beau Rivage', cursive; */
    font-family: 'Courgette', cursive;
    padding:1px;
    margin:1px;
    background-image: url("https://images.unsplash.com/photo-1623505254879-ca5c48319ba5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Z2lwaHklMjBiYWNrZ3JvdW5kc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
}
